/* *, *::before, *::after{
    box-sizing: inherit;
    font-family: 'Raleway-Bold'
}


@font-face{
    font-family: 'Raleway-Bold';
    src: url("../font/Raleway-Bold.ttf") format("truetype");
}

@font-face{
    font-family: 'Raleway-Light';
    src: url("../font/Raleway-Light.ttf") format("truetype");
}

@font-face{
    font-family: 'Raleway-Regular';
    src: url("../font/Raleway-Regular.ttf") format("truetype");
} */
:root {
    --color-1:#F9F9F9;
    --color-2:#5ECCF1;
    --text-color:#888888;
    --color-3:#333333;
}
body{
    background-color:#e5e5e5;
}
.cont{
    width:30%;
    /* height:100%; */
    margin:10% auto;
    background-color:#ffffff;
    padding:30px;
    position:relative;
}
.input-icons img { 
    position: absolute; 
} 
        
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
        
.icon1 { 
    padding:10px 15px; 
    min-width: 40px; 
} 
.icon2 { 
    padding:20px 15px; 
    min-width: 40px; 
} 
.icon3 { 
    padding:20px 15px; 
    min-width: 40px; 
} 
.icon4 { 
    padding:20px 15px; 
    min-width: 40px; 
} 
        
.input-field { 
    width: 100%; 
    padding: 22px 40px;
    border-radius:13px;
    background-color:#f0f0f0;
    color:grey;

} 
.check{
    color:grey;
}
.check-link{
    color:#000000;
}
h1{
    color:#5e6cf1
}
.cont-sign{
    background-color:#fdfdfd;
    position:absolute;
    left:425px;
    top:73px;
    height:535px;
    width:20%;
    display:flex;
    align-items:center;
    padding-left:0px!important;
}
.cont-sign h1{
    transform:rotate(-90deg);

}
h1 a{
    font-size:16px;
    color:rgba(51,51,51,0.5);
}

@media (min-width: 320px) and (max-width: 700px) {
    body{
        background-color:#ffffff;
    }
    .cont{
        width:100%;
        /* height:100%; */
        margin:10% auto;
        background-color:#ffffff;
        padding:30px;
        position:relative;
    }
    .cont-sign{
        background-color:#fdfdfd;
        position:absolute;
        left:320px;
        top:73px;
        height:535px;
        width:20%;
        display:flex;
        align-items:center;
        padding-left:0px!important;
    }
}
